<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RTEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <RTEditor.Properties.Settings>
            <setting name="DefaultFontName" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="DefaultFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DefaultFontIsBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFontIsItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFontIsUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFontIsStrikeout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveTime" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Office2007Blue</value>
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="IsUseSystemTitleBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowDeleteWarningTaskDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUseAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultRTBZoomFactor_FloatType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultRTBZoomFactor_IntType" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IsUseAutoWordSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUseWordWarp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiniToolBarOrRadialMenu" serializeAs="String">
                <value>MiniToolBar</value>
            </setting>
            <setting name="GoogleGeminiAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleOCRAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleMapsAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIChatGPTAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="IsOptimizedTachModeRibbon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppStartupTaskMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultFontTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DefaultFontTextHilightColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="IsShowSelectionMargin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUseAIFunction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultSaveMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsDocsCloseOnSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMinimizedRibbon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QAT1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QAT2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QAT3Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QAT4Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QAT5Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QAT6Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QAT7Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QAT8Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme_IntType" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IsUseOffice2007RibbonShape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUseDialogAndMdiWindowOnSystemTitleBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentDocsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUseRichTextBoxDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUseDarkModeTitleBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QATLoaction" serializeAs="String">
                <value>0</value>
            </setting>
        </RTEditor.Properties.Settings>
    </userSettings>
</configuration>
